{{ define "main" }}

  {{ partial "page-title.html" . }}

  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <p class="lead text-dark">En esta sección podrás encontrar las iniciativas y los avances de los programas de la Corporación. Te invitamos a visitar nuestro blog noticiero con las últimas novedades.
          </p>
        </div>
      </div>
      <div class="row pt-5">
        {{ range .Data.Pages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->

{{ end }}